<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Ethereum Bet</title>
  <!-- If you update favicon.ico in the public directory, then increment the "v=" below to force update. -->
  <!-- <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2"> -->
</head>