<template name="Home_Page">
  <div class="ui middle stackable aligned centered grid container">

    <div class="six wide column left floated left aligned">
      <h1 class="ui header centered">How to play</h1><br>
      <br>
      <div class="home-started-steps">
        <div class="ui list">
          <div class="item">
            <b>Step 1:</b> Lorem ipsum Mollit commodo cillum culpa pariatur Duis dolore culpa et in in esse deserunt ut labore laboris dolore velit irure elit occaecat enim in nisi reprehenderit dolore laborum esse in in proident Duis.
          </div><br>
          <div class="item">
            <b>Step 2:</b> Lorem ipsum Mollit commodo cillum culpa pariatur Duis dolore culpa et in in esse deserunt ut labore laboris dolore velit irure elit occaecat enim in nisi reprehenderit dolore laborum esse in in proident Duis.
          </div><br>
          <div class="item">
            <b>Step 3:</b> Lorem ipsum Mollit commodo cillum culpa pariatur Duis dolore culpa et in in esse deserunt ut labore laboris dolore velit irure elit occaecat enim in nisi reprehenderit dolore laborum esse in in proident Duis.
          </div>
        </div>
      </div>
    </div>

    <div class="six wide column left floated left aligned">
      <form class="ui form centered" id="place-bet-form">
        <h1 class="ui header centered">Place Bet</h1><br>
        <div class="field">
          <label>Name</label>
          <input type="text" name="first-name" placeholder="Name" id="name">
        </div>
        <div class="field">
          <label>Email Address</label>
          <input type="email" name="last-name" placeholder="Email Address" id="email">
        </div>

        <div class="field">
          <label>Asset Name</label>
          <select class="ui fluid dropdown" id="asset">
            <option value="">Asset Name</option>
            <option value="BTC">BTC</option>
            <option value="USD">USD</option>
            <option value="GBP">GBP</option>
          </select>
        </div>
        
        <div class="field">
          <label>Start Time</label>
          <div class="ui calendar" id="startTime">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Date/Time" id="start">
            </div>
          </div>
        </div>

        <div class="field">
          <label>End Time</label>
          <div class="ui calendar" id="endTime">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Date/Time">
            </div>
          </div>
        </div>


        <div class="field">
          <label>Amount</label>
          <input type="text" name="amount" placeholder="Amount" id="amount">
        </div>

        <button class="ui button submit-btn" type="submit">Place Bet</button>
      </form>
    </div>


    

    <div class="ui page dimmer">
      <div class="content">
        <div class="center">
        You need Chrome and <a href="https://metamask.io/" target="_blank">MetaMask extension</a> of Chrome for this application. Please switch to Chrome Browser and install Metamask extension.</div>
      </div>
    </div>
  </div>
  
  <div class="ui horizontal divider"></div>
  
  <div class="ui middle stackable aligned centered grid container marg-t-50px marg-b-100px">
    <h1> Bets </h1>
    {{#if openBets}}
      <table class="ui tablet stackable table">
        <thead>
          <tr>
            <th>Better 1 Address</th>
            <th>Better 1 Asset</th>
            <th>Better 2 Address</th>
            <th>Better 2 Asset</th>
            <th>Start</th>
            <th>End</th>
            <th>Amount</th>
            <th>Status</th>
            <th>UniqueId</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each openBets}}
            <tr>
              <td>{{better1Address}}</td>
              <td>{{better1Asset}}</td>
              <td>
                {{#if better2Address}}
                  {{better2Address}}
                {{else}}
                  -
                {{/if}}
              </td>
              <td>
                {{#if better2Asset}}
                  {{better2Asset}}
                {{else}}
                  -
                {{/if}}
              </td>
              <td>{{momentFormat start "MM-DD-YY, hh:mmz"}}</td>
              <td>{{momentFormat end "MM-DD-YY, hh:mmz"}}</td>
              <td>{{amount}}</td>
              <td>{{status}}</td>
              <td>{{uniqueId}}</td>
              {{#if $eq status "open"}}
                <button class="ui primary button" type="submit" onclick="FlowRouter.go('/bet/{{uniqueId}}');">Bet</button>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</template>
